* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Ngăn chặn các file có chứa thông tin nhạy cảm
.env filter=git-crypt diff=git-crypt
.env.* filter=git-crypt diff=git-crypt
